/*
filename: lab05.css
author: Yati Myat Aye
created: 20/09/2026
last modified: 20/09/2026
description: Building the style sheet for lab05.html
*/

aside:hover{
    display: block;
}

aside{
    border: 1px solid black;
    margin: 0.5em; 
    padding: 0.5em;
    background-image: url("styles/images/fade.jpg");
    width: 30%;
    float: right; 
    box-shadow: 10px 10px 5px #aaaaaa;
} 

/*.menu{
    display: inline-block;
}*/

nav ul li{ 
    list-style: none;
    display: inline-block;
}

header{
    border: 1px solid darkgray;
    margin: 0.5em; 
    padding: 0.5em;
    background-color: lightgray;
    text-align: center;
}

footer{
    border-top: 4px double darkgrey;
    clear: both;
}

#lists{
    float: left;
}

table{
    margin: auto;
}

#tables{
    float: right;
}

#images{
    float: right;
}

#hyperlinks{
    clear: both; 
    float: left;
}

figure{
    border: 2px solid #ccc;
}

#lists, #tables, #hyperlinks, #images{
    width: 45%; 
    text-align: center;
}

ol,ul,dl{
    text-align: left;
}

article{
    min-width: 30em;
}

footer p{
    display: inline-block;
    width: 33%;
}

footer p:first-child{
    float: left;
}
footer P:nth-child(2){
    text-align: center;
}

footer p:last-child{
    float: right;
    text-align: right;
}